# API-key to get currency
EXCHANGE_RATE_API_KEY=...

# URL for API
#URL=f"https://v6.exchangerate-api.com/v6/{EXCHANGE_RATE_API_KEY}/latest/RUB"

# STOCKS_API_KEY
STOCKS_API_KEY=...
#URL_STOCKS=f"https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol={stock}&apikey={STOCKS_API_KEY}"
